$font-deafult: "Futura PT", "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 1280px;

$desktop-width-only: 1920px;

$mobile-width-only: 639px;
$tablet-width-only: 1279px;

$basic-white: #ffffff;
$basic-black: #000000;
$basic-gray: #575757;
$basic-gold: #A89365;
